$primary-color: #7b70fa;
$secondary-color: #f4f4f9;

$primary-text-color: #333;
$secondary-text-color: #fff;
$error-text-color: #f00;
$font-size: 1rem;

$border-color: #ccc;
$border-radius: 0.4rem;

$input-background: #fff;

$button-background: #6c63ff;
$button-text-color: #fff;
$button-border-radius: 0.4rem;
